mangum==0.14.0
matplotlib==3.3.3
monai==1.1.0
numpy==1.19.5
opencv_python==4.7.0.72
Pillow==9.5.0
plotly==5.14.1
pydantic==1.9.1
pytz==2021.3
scikit-image==0.20.0
scipy==1.10.1
sentence_transformers==2.2.2
skimage==0.0
torch==2.0.1
torchvision==0.15.2
tqdm==4.64.0
transformers==4.29.2
